<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Get A Car</title>
</head>
<body>
    <div class="grid-2">
        <div class="section-1">
            <i class="fas fa-code fa-5x white"></i>
            <h2>Get A Car</h2>
            <p>Antaly,Türkiye.</p>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
        <div class="section-2">
            <h2>About</h2>
            <p>Get a Car, profesyonel ve güvenilir araba kiralama hizmetleri sunan bir platformdur. Amacımız, müşterilerimize en iyi araç seçeneklerini sağlamak ve seyahat deneyimlerini kolaylaştırmaktır. Kaliteli müşteri hizmetleri, geniş araç filosu ve rekabetçi fiyatlarla
               sizlere hizmet vermekten mutluluk duyuyoruz.</p>
           
            <h2>Services</h2>
            <p>Geniş araç filosu: Get a Car olarak, farklı ihtiyaçlara ve tercihlere uygun çeşitli araçlar sunmaktayız.</p> <br>
              <p>Esnek kiralama seçenekleri:  İster günlük, haftalık veya aylık kiralama yapın, ihtiyaçlarınıza
                 uygun bir planı kolayca seçebilirsiniz.</p> <br>
                 <p>Hızlı ve kolay rezervasyon: Get a Car platformu üzerinden hızlı ve kullanıcı dostu bir şekilde araç rezervasyonu yapabilirsiniz. Sadece birkaç adımda araç seçiminizi tamamlayarak
                   </p> <br>
                   <p>Müşteri odaklı hizmet: Müşteri memnuniyeti bizim önceliğimizdir. </p> <br>
            <h2>Contact</h2>
            <p>getacar@email.com</p>
            <p> 234 445 22</p>
            
        </div>
    </div>
</body>
</html>
